.account-page .user-banner {
    width: 100%;
   /* background: #5C258D;
    background: -webkit-linear-gradient(to left, #5C258D, #4389A2);
    background: linear-gradient(to left, #5C258D, #4389A2); */
    color: #fff;
    background: url("/static/images/account/pattern.png");
}

.user-banner-info .user-banner-left img {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    margin-bottom: -60px;
}

.user-banner .el-row .el-col {
    background: transparent;
    border: none;
    padding-top: 150px !important;
}
.user-banner  .user-banner-tags{
    position: absolute;
    top:20px;
    list-style: none;
}
.user-banner .user-banner-tags .tag-item{
    background: rgba(0,0,0,.1);
    padding: 0 1rem;
    margin: 0 1rem 1rem 0;
    float: left;
    line-height: 1.5rem;
    border-radius: 3px;
}
.user-banner .user-banner-tags .tag-item a{
    color: #fff;
    font-size: 1.04rem;
}

.user-banner-info .user-banner-left {
    box-sizing: border-box;
    display: block;
    width: 204px;
    /*height:204px;*/
    float: left;
}

.user-banner-info .user-banner-right {
    margin-left: 240px;
    padding:30px 10px 20px;
}

.user-banner-info .user-banner-right .user-info-ul {
    width: 25rem;
    padding-left: 0;
    display: flex;
    float: left;
}

.user-banner-right .user-info-ul li {
    float: left;
    width: 5rem;
    list-style: none;
}

.user-banner-right .user-info-ul li a {
    font-size: .975rem;
    color: #fff;
}

.user-banner-right .user-info-ul li span {
    display: block;
    line-height: 2rem;
    font-size: 1.25rem;
}

.user-banner-info .user-banner-right .modify-profile {
    float: right;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.user-banner-info .user-banner-right .modify-profile i {
    margin-right: 5px;
}

.user-banner-control {
    width: 100%;
    padding: 0px 10px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.user-banner-control .el-row .el-col {
    background: transparent;
    border: none;
    padding: 10px 0 !important;
}

.user-banner-control .user-level-ul {
    list-style: none;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}

.user-banner-control .user-level-ul li {
    float: left;
    font-size: 1.2rem;
    margin-right: 3rem;
    padding: 5px 0;
}

.user-banner-control .user-level-ul li a {
    cursor: pointer;
    color: #666;
}

.user-banner-control .user-banner-button{
    display: inline-block;
    list-style: none;
    float: right;
    margin-right: 10px;
    margin-bottom: 0 !important;
}
.user-banner-control .user-banner-button li{
    display: inline-block;
}